/bootstrap/compiled.php
.env.*.php
.env.php
.env

#############
## Project Specifics
#############

## The laravel framework backup and the framework non-installed
/framework_bakup/
/laravel/

#############
# PHPStorm files
#############

.idea/

#############
# PHPStorm IDE Helper
#############

_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php

#############
# Composer files
#############

#**composer.*

#############
# Node files
#############

# A work-around the windows file path length limitation
node_modules.7z